* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reapop__notification {
  border-width: 3px !important ;
  border-radius: 0px !important;
}

/* font-family: 'Itim', cursive;
font-family: 'Poppins', sans-serif; */